/* Styles for my portal page. */

/* --- */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration:none; 
}

h1 
{
    font-size: 2em; 
}

/* Font sourced from the awesome website https://int10h.org! */
@font-face 
{
    font-family: "toshibasat8x8";
    src: url("../fonts/WebPlus_ToshibaSat_8x8.woff") format('woff');
}

@font-face 
{
    font-family: "toshibasat8x16";
    src: url("../fonts/WebPlus_ToshibaSat_8x16.woff") format('woff');
}

/* --- */

body
{
    background-color: #342834;

    font-family: "toshibasat8x8";
}

#background
{
    background-color: #5acca0;
    background: url(../images/background-effect-01.png) top repeat-x, #5acca0;
    background-size: 150px;

    max-width: 1220px;
    margin: 0 auto 0 auto;
}

header 
{
    background-color: #507dba;
    color: #e5f7d2;

    padding: 10px;
    width: 1220px;
    margin: 20px auto 10px auto;

    overflow: hidden;
}

#inner-header
{
    width: 1200px;
    padding: 10px;
    margin: 0 auto;

    overflow: hidden; 
}

nav ul 
{
    list-style-type: none;
}

nav li 
{
    margin: 0 15px 0 0;

    float:left;
}

nav a:hover
{
    color: #5acca0 ; 
}

#wrapper 
{
    color: #507dba;

    width: 1200px;
    height:550px;
    margin: 10px auto;

    clear:both;
    overflow: hidden;
}

#wrapper p
{
    font-family: "toshibasat8x16";
    font-size: 1.35em;
}

main
{
    background-color: #e5f7d2;

    width: 65%;
    height:100%;
    padding: 10px;

    float:left;

    overflow-y: scroll;
    overflow-x:hidden;

}

main p 
{
    text-align: justify; 
}

main img
{
    max-width: 100%;
}


#wilson-image
{
    border: #5acca0 dashed 4px;

    width:200px;
    margin: 0 5px 0 20px;

    float:right;
}

aside
{
    background-color: #e5f7d2;

    width: 34%;
    padding: 10px;

    float:right;
}


footer 
{
    background-color: #507dba;
    color: #e5f7d2;

    width:1220px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto 20px auto;

    font-size:0.75em;

    clear:both;
    overflow: hidden;
}

footer ul 
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li 
{
    justify-content: center;
    margin: 0 15px;
}



